{% extends "base.html" %}
{% block content %}
          <a href="/map/country/{{title}}" class="btn btn-outline-primary">
        <img src="/static/img/map.svg" width="30" height="30" alt=""> Посмотреть на карте
    </a>
<p></p>
{% set relax = relax %}
{% set culture = culture %}
{% set active = active %}
{% if relax %}
  <div class="alert alert-info" align="center" role="alert">
  РЕКРЕАЦИОННЫЙ ТУРИЗМ
</div>
<p></p>
{% endif %}
<div class="row row-cols-1 row-cols-md-2 g-4">
{% for city in relax %}
    {% set city_name = city[0] %}
    {% set city_text = city[1] %}
    <div class="col">
<div class="card h-100">
  <img src="/static/img/{{city_name}}.png" class="card-img-top" alt="картинка не нашлась(" height="250">
  <div class="card-body">
    <h5 class="card-title">{{city_name}}</h5>
    <p class="card-text">{{city_text}}</p>
    <a href='/add_to_plan/countries/{{city_name}}' class="btn btn-primary" >Добавить в маршрут</a>
      <a href="/map/{{name}}/{{city_name}}" class="btn btn-outline-primary">
          <img src="/static/img/map.svg" width="30" height="30" alt="">
      </a>
    <a href="/add_to_liked_city/country/{{name}}/{{city_name}}" class="btn btn-outline-danger">
        <img src="/static/img/heart.svg" width="30" height="30" alt="">
    </a>
  </div>
</div>
    </div>
    {% endfor %}
</div>
<p></p><p></p><p></p>
{% if culture %}
<div class="alert alert-info" align="center" role="alert">
  КУЛЬТУРНО-ПОЗНАВАТЕЛЬНЫЙ ТУРИЗМ
</div>
<p></p>
{% endif %}
<div class="row row-cols-1 row-cols-md-2 g-4">
{% for city in culture %}
    {% set city_name = city[0] %}
    {% set city_text = city[1] %}
    <div class="col">
<div class="card h-100">
  <img src="/static/img/{{city_name}}.png" class="card-img-top" alt="картинка не нашлась(">
  <div class="card-body">
    <h5 class="card-title">{{city_name}}</h5>
    <p class="card-text">{{city_text}}</p>
    <a href='/add_to_plan/countries/{{city_name}}' class="btn btn-primary" >Добавить в маршрут</a>
     <a href="/map/{{name}}/{{city_name}}" class="btn btn-outline-primary">
         <img src="/static/img/map.svg" width="30" height="30" alt="">
     </a>
    <a href="/add_to_liked_city/country/{{name}}/{{city_name}}" class="btn btn-outline-danger">
        <img src="/static/img/heart.svg" width="30" height="30" alt="">
    </a>
  </div>
</div>
        </div>
    {% endfor %}
</div>
<p></p><p></p><p></p>
{% if active %}
<div class="alert alert-info" align="center" role="alert">
  АКТИВНЫЙ ТУРИЗМ
</div>
<p></p>
{% endif %}
<div class="row row-cols-1 row-cols-md-2 g-4">
{% for city in active %}
{% set city_name = city[0] %}
    {% set city_text = city[1] %}
        <div class="col">
<div class="card h-100">
  <img src="/static/img/{{city_name}}.png" class="card-img-top" alt="картинка не нашлась(">
  <div class="card-body">
    <h5 class="card-title">{{city_name}}</h5>
    <p class="card-text">{{city_text}}</p>
    <a href='/add_to_plan/countries/{{city_name}}' class="btn btn-primary" >Добавить в маршрут</a>
     <a href="/map/{{name}}/{{city_name}}" class="btn btn-outline-primary">
         <img src="/static/img/map.svg" width="30" height="30" alt="">
     </a>
    <a href="/add_to_liked_city/country/{{name}}/{{city_name}}" class="btn btn-outline-danger">
        <img src="/static/img/heart.svg" width="30" height="30" alt="">
    </a>
  </div>
    </div>
</div>
    {% endfor %}
</div>
{% endblock %}


