{% extends "base.html" %}

{% block content %}
{% set countries_list = countries %}
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for country in countries_list %}
        <div class="col">
<div class="card h-100">
  <img src="static/img/{{country}}.png" class="card-img-top" alt="картинка не нашлась(" height="250">
  <div class="card-body">
    <h5 class="card-title">{{country}}</h5>
    <p class="card-text"></p>
    <a href="/country/{{country}}" class="btn btn-primary">Смотреть</a>
          <a href="/add_to_liked_country/countries/{{country}}" class="btn btn-outline-danger">
        <img src="/static/img/heart.svg" width="30" height="30" alt="">
    </a>
  </div>
</div>
        </div>
    {% endfor %}
</div>
{% endblock %}


