{% extends "base.html" %}

{% block content %}
<div class="login_form" method="post">
        <p></p>
        <h1>Создаем маршрут</h1>
        <p></p>
    {% if message %}
<div class="alert alert-danger" role="alert">
{{ message }}
</div>
{% endif %}
    <form class="login_form" method="post">
        <input type="name" class="form-control" id="name" placeholder="Введите название маршрута" name="name">
        <p></p>
        <div class="form-group">
            <label for="form-check">Какие города включить в маршрут?</label>
            {% set cities_list = cities %}
            {% for city in cities_list %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="{{city}}" id="{{city}}" value="{{city}}">
                <label class="form-check-label" for="{{city}}">
                    {{city}}
                </label>
            </div>
            {% endfor %}
        <p></p>
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>
{% endblock %}