{% extends "base.html" %}

{% block content %}
{% if countries %}
{% set countries_list = countries %}
<div class="alert alert-info" role="alert" align="center">
  СТРАНЫ
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
{% for country in countries_list %}
  <div class="col">
<div class="card h-100">
  <img src="/static/img/{{country}}.png" class="card-img-top" alt="картинка не нашлась(">
  <div class="card-body">
    <h5 class="card-title">{{country}}</h5>
    <p class="card-text"></p>
    <a href='/country/{{country}}' class="btn btn-primary" >Смотреть</a>
    <a href="/remove_from_liked/{{country}}" class="btn btn-outline-danger">
        <img src="/static/img/trash.svg" width="30" height="30" alt="">
    </a>
  </div>
</div>
    </div>
    {% endfor %}
</div>
{% endif %}
<p></p>
{% if cities %}
{% set cities_list = cities %}
<div class="alert alert-info" role="alert" align="center">
  ГОРОДА
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
{% for country in cities_list %}
  <div class="col">
<div class="card h-100">
  <img src="/static/img/{{country}}.png" class="card-img-top" alt="картинка не нашлась(">
  <div class="card-body">
    <h5 class="card-title">{{country}}</h5>
    <p class="card-text"></p>
    <a href='/add_to_plan' class="btn btn-primary" >Добавить в маршрут</a>
    <a href="/remove_from_liked/{{country}}" class="btn btn-outline-danger">
        <img src="/static/img/trash.svg" width="30" height="30" alt="">
    </a>
  </div>
</div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
