{% extends "base.html" %}

{% block content %}
<div>
    <a class="icon-link icon-link-hover" href="my_plans">
    Мои маршруты
  <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
</a>
</div>
<a class="icon-link icon-link-hover" href="liked">
    Избранное
  <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
</a>
<a class="icon-link icon-link-hover" href="logout">
    Выйти
  <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
</a>
{% endblock %}