{% extends "base.html" %}

{% block content %}
<div class="card-group">
    {% for city in cities[:3] %}
<div class="card" style="width: 18rem">
  <img src="static/img/{{city}}.png" class="card-img-top" alt="картинка не нашлась(">
  <div class="card-body">
    <h5 class="card-title">{{city}}</h5>
    <p class="card-text"></p>
    <a href="country/{{city}}" class="btn btn-primary">Смотреть</a>
      <a href="add_to_liked/russian_cities/{{city}}" class="btn btn-outline-danger">Добавить в избранное</a>
  </div>
</div>
    {% endfor %}
</div>
<div class="card-group">
    {% for city in cities[3:6] %}
<div class="card" style="width: 18rem">
  <img src="static/img/{{city}}.png" class="card-img-top" alt="картинка не нашлась(">
  <div class="card-body">
    <h5 class="card-title">{{city}}</h5>
    <p class="card-text"></p>
    <a href="country/{{city}}" class="btn btn-primary">Смотреть</a>
      <a href="add_to_liked/russian_cities/{{city}}" class="btn btn-outline-danger">Добавить в избранное</a>
  </div>
</div>
    {% endfor %}
</div>
<div class="card-group">
    {% for city in cities[6:9] %}
<div class="card" style="width: 18rem">
  <img src="static/img/{{city}}.png" class="card-img-top" alt="картинка не нашлась(">
  <div class="card-body">
    <h5 class="card-title">{{city}}</h5>
    <p class="card-text"></p>
    <a href="country/{{city}}" class="btn btn-primary">Смотреть</a>
      <a href="add_to_liked/russian_cities/{{city}}" class="btn btn-outline-danger">Добавить в избранное</a>
  </div>
</div>
    {% endfor %}
</div>
<div class="card-group">
    {% for city in cities[9:12] %}
<div class="card" style="width: 18rem">
  <img src="static/img/{{city}}.png" class="card-img-top" alt="картинка не нашлась(">
  <div class="card-body">
    <h5 class="card-title">{{city}}</h5>
    <p class="card-text"></p>
    <a href="country/{{city}}" class="btn btn-primary">Смотреть</a>
      <a href="add_to_liked/russian_cities/{{city}}" class="btn btn-outline-danger">Добавить в избранное</a>
  </div>
</div>
    {% endfor %}
</div>
{% endblock %}

