{% extends "base.html" %}

{% block content %}
<h1>ОСНОВНЫЕ ВИДЫ ТУРИЗМА И ИХ ХАРАКТЕРИСТИКИ</h1>
<p>Туризм крайне многообразен и полон возможностей, и сейчас он процветает как никогда раньше. Современный человек может выбрать направление, которое идеально соответствует его интересам, бюджету и целям.</p>
<div class="alert alert-info" role="alert">
  РЕКРЕАЦИОННЫЙ ТУРИЗМ: ОТДЫХ ДЛЯ ДУШИ И ТЕЛА
</div>
<img src="/static/img/beach.jpg" width="600" height="400">
<p></p>
<p>Рекреационный отдых — это классика, которая никогда не выходит из моды. Он направлен на восстановление сил, расслабление и получение удовольствия от простых радостей жизни.</p>
<ul>
    <li>Цели: релаксация и восстановление сил, отдых от городской суеты и снижение уровня стресса</li>
</ul>
<ul>
    <li>Условия: бронирование комфортабельных отелей, выбор пляжных направлений.</li>
</ul>
<ul>
    <li>Пример: отдых на курортах Турции, Египта, Таиланда или на тропических островах.
</li>
</ul>
<a href="/tourism/beach" class="btn btn-primary">Смотреть города</a>
<p></p>
<div class="alert alert-info" role="alert">
  АКТИВНЫЙ ТУРИЗМ: ЗАРЯД ЭНЕРГИИ И АДРЕНАЛИНА
</div>
<img src="/static/img/mountains.jpg" width="600" height="400">
<p></p>
<p>Если вы любите спорт, движение и приключения, активные путешествия — это именно то, что вам нужно. Приключенческий туризм предлагает не только физическую нагрузку, но и яркие эмоции, которые остаются в памяти на всю жизнь. От сплавов по горным рекам до восхождений на вершины — каждый маршрут становится настоящим вызовом самому себе.
</p>
<ul>
    <li>Цели: расширение кругозора, развитие навыков, получение адреналина и испытание себя в экстремальных условиях.</li>
</ul>
<ul>
    <li>Условия: наличие специального снаряжения (например, горных лыж, сплавных катамаранов или альпинистского оборудования), сопровождение профессионального проводника.</li>
</ul>
<ul>
    <li>Пример: дайвинг в Шарм-Эль-Шейхе, парапланеризм в Фетхие в Турции, горнолыжные курорты во Франции.
</li>
</ul>
<a href="/tourism/active" class="btn btn-primary">Смотреть города</a>
<p></p>
<div class="alert alert-info" role="alert">
  КУЛЬТУРНО-ПОЗНАВАТЕЛЬНЫЙ И КУЛЬТУРНО-ИСТОРИЧЕСКИЙ ТУРИЗМ: ПУТЕШЕСТВИЕ ВО ВРЕМЕНИ
</div>
<img src="/static/img/colisey.jpg" width="600" height="400">
<p></p>
<p>
    Это возможность для человека окунуться в историю, искусство и традиции разных стран. Он идеально подходит для тех,
    кто хочет не просто увидеть достопримечательности, но и понять, что они значат и как формировалась культура разных
    народов. Данные виды туризма в России приобретают все большую популярность среди путешественников.
</p>
<ul>
    <li>Цели: образование, культурное развитие и понимание этнокультурного наследия расширение кругозора и углубление знаний о мире.</li>
</ul>
<ul>
    <li>Условия: наличие путеводителей, экскурсии и посещение музеев, памятников и исторических объектов.</li>
</ul>
<ul>
    <li>Пример: посещение Петергофа, поездка по Золотому Кольцу России, осмотр остатков Ликийских гробниц в Турции.
</li>
</ul>
<a href="/tourism/historic" class="btn btn-primary">Смотреть города</a>
<p></p>
{% endblock %}