{% extends "base.html" %}
{% block content %}
<h2>{{type}} туризм</h2>
{% set cities_list = cities %}
<div class="row row-cols-1 row-cols-md-3 g-4">
{% for city in cities_list %}
  <div class="col">
<div class="card h-100">
  <img src="/static/img/{{city}}.png" class="card-img-top" height="250">
  <div class="card-body">
    <h5 class="card-title">{{city}}</h5>
    <p class="card-text"></p>
    <a href='/add_to_plan/tourism/{{city}}' class="btn btn-primary">Добавить в маршрут</a>
      <a href="/add_to_liked_city/country/{{name}}/{{city_name}}" class="btn btn-outline-danger">
        <img src="/static/img/heart.svg" width="30" height="30" alt="">
    </a>
  </div>
</div>
    </div>
    {% endfor %}
</div>
{% endblock %}